.card-frame {
    display: flex;
    width: 100%;
    margin: 30px auto;
    align-items: stretch;
    justify-content: center;
    border: 1px solid #e4e4e4;
    border-radius: 5px;

    min-height: 360px;
    max-width: 720px;
}

.card-preview {
    width: 275px;
    padding: 20px;
    text-align: center;
}

.card-preview img {
    max-width: 275px;
}

.card-info {
    width: calc(100% - 275px);
    padding: 20px 20px 20px 0;
}

.card-info-field {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e4e4e4;
    padding: 10px;
}

.card-info-field h3 {
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}

.card-info-field.card-info-widen {
    flex-flow: column;
}

.card-info .ms-cost {
    margin-left: 5px;
}

.card-info .ms-cost:first-child {
    margin-left: 0;
}

.dark-theme .card-frame,
.dark-theme .card-info-field {
    border-color: #c3c3c3;
}
